{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
<form id="newpost-form">
    <!-- {% csrf_token %} -->
    <div class="form-group">
        <p class="text-primary"><strong>New Post</strong></p>
        <textarea class="form-control" id="newpost-content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<hr>
{% endif %}

{% include "network/posts.html" %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    <script src="{% static 'network/lib.js' %}"></script>
{% endblock %}