{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
<form id="newpost-form">
    {% csrf_token %}
    <div class="form-group">
        <p>New Post</p>
        <textarea class="form-control" id="newpost-content" rows="3"></textarea>
    </div>
    <button type="submit">Post</button>
</form>

<hr>
{% endif %}

<div id="posts-view">
    <p>Posts</p>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="javascript:pagination(-1);" id="previous">Previous</a></li>
            <li class="page-item"><a class="page-link" href="javascript:pagination(1);" id="next">Next</a></li>
        </ul>
    </nav>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    <script src="{% static 'network/lib.js' %}"></script>
{% endblock %}