{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="name-view">
    <p>This is the Profile Page of {{ first_name }}</p>
    <p>Following: {{ following_count }}</p>
    <p>Followers: {{ followers_count }}</p>
    {% if user.is_authenticated %}
    <button id="follow-btn"></button>
    {% endif %}
</div>

{% include "network/posts.html" %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
    <script src="{% static 'network/lib.js' %}"></script>
{% endblock %}